@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat/montserrat-extraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat/montserrat-light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat/montserrat-regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/raleway/raleway-light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/raleway/raleway-regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/raleway/raleway-medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/raleway/raleway-semibold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/raleway/raleway-bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
}

body {
    width: 1920px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

header {
    width: 100%;
    background-image: url(../img/photo.jpg);
    /* Фоновый рисунок */
    background-size: cover;
    background-repeat: no-repeat;
    height: 1024px;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(17, 17, 17, 0.7);
    /* Цвет фона */
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.9;
    /* Полупрозрачный фон */
    filter: alpha(Opacity=90);
    /* Прозрачность в IE */
    color: #fff;
    /* Цвет текста */
    padding: 40px 150px 40px 150px;
    height: 1024px;
}

.header-wrap {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 185px;
    text-decoration: none;
    color: #fff;
}

.logo-txt {
    color: #ffffff;
    font-weight: 300;
    font-size: 34px;
    letter-spacing: -1.36px;
}

.logo-icon {
    fill: CurrentColor;
}

.logo:hover .logo-icon {
    fill: #c7b299;
}

.logo:hover .logo-txt {
    color: #c7b299;
}

.logo:active .logo-icon {
    fill: grey;
}

.logo:active .logo-txt {
    color: grey;
}

.menu {
    padding: 0;
    margin-top: 20px;
    width: 800px;
    display: flex;
    justify-content: space-between;
}

#label,
#menu {
    display: none;
}

#menu:checked ~ .menu {
    visibility: visible;
}

.menu-list {
    list-style: none;
    margin-right: 29px;
}

.menu-list a {
    text-decoration: none;
    color: #ffffff;
    font-family: montserrat, arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.menu-list a:hover {
    color: #c7b299;
}

.menu-list a:active {
    color: grey;
}

.menu-list:nth-child(8) {
    flex-grow: 1;
}

.menu-icon {
    width: 70px;
    display: flex;
    justify-content: space-between;
}

.menu-basket {
    fill: #ffffff;
}

.menu-basket:hover {
    fill: #c7b299;
}

.menu-basket:active {
    fill: grey;
}

.menu-search {
    width: 24px;
    height: 24px;
    outline: none;
    border: none;
    background-image: url(../img/icon-search.svg);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
}

.menu-search:focus {
    width: 300px;
    margin-left: -250px;
    margin-top: 40px;
    color: #ffffff;
    font-family: Montserrat, arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    background-color: #756051;
    transition: width 1s ease-out;
    background-position: right;
}

.slider-text {
    display: block;
    width: 590px;
    text-align: center;
    color: #ffffff;
}

header h3 {
    margin: 0 0 14px 0;
    font-size: 36px;
    font-weight: 500;
}

header h1 {
    margin: 0 0 19px 0;
    font-size: 52px;
    font-weight: 700;
}

header p {
    margin: 0 0 52px 0;
    font-family: Montserrat, arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.slider-button {
    display: block;
    margin: 0 auto;
    width: 170px;
    height: 53px;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    border: none;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-transform: uppercase;
    outline: none;
}

.slider-button:hover {
    background-color: #b0a194;
    color: #26211d;
    cursor: pointer;
}

.slider-button:active {
    background-color: #998675;
    border: none;
}

.slider {
    display: flex;
    justify-content: space-between;
}

.arrow-left {
    margin-top: 94px;
    display: block;
    width: 40px;
    height: 73px;
    position: relative;
}

.arrow-left:after {
    content: "";
    display: inline-block;
    width: 52px;
    height: 52px;
    border-bottom: 2px solid #d3c1ad;
    border-left: 2px solid #d3c1ad;
    transform: rotate(45deg);
    position: absolute;
}

.arrow-left:hover:after {
    border-bottom: 2px solid white;
    border-left: 2px solid white;
}

.arrow-left:active:after {
    border-bottom: 2px solid grey;
    border-left: 2px solid grey;
}

.arrow-right {
    margin-top: 94px;
    display: block;
    width: 40px;
    height: 73px;
    position: relative;
}

.arrow-right:after {
    content: "";
    display: inline-block;
    width: 52px;
    height: 52px;
    border-top: 2px solid #d3c1ad;
    border-right: 2px solid #d3c1ad;
    transform: rotate(45deg);
    position: absolute;
    left: -15px;
}

.arrow-right:hover:after {
    border-top: 2px solid white;
    border-right: 2px solid white;
}

.arrow-right:active:after {
    border-top: 2px solid grey;
    border-right: 2px solid grey;
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
}

.circle {
    display: block;
    margin-right: 10px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.5;
    border: 2px solid transparent;
    background-clip: content-box;
}

.circle:hover {
    border: 2px solid #d3c1ad;
    background-color: transparent;
}

.section-1 {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 80px 0 60px 0;
}

.sect-1 {
    text-decoration: none;
    width: 310px;
}

.svq-items svg {
    height: 49px;
    fill: #555555;
}

.svq-items {
    margin: 0 30px 0 0;
    text-align: center;
    color: #8c8c8c;
}

.svq-items h5 {
    color: #555555;
    font-size: 22px;
    font-weight: 400;
}

.svq-items span {
    font-family: Montserrat, arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.svq-items:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    margin: 25px auto;
}

.svq-items:hover:after {
    background-color: #c7b299;
}

.svq-items:hover h5 {
    color: #c7b299;
}

.svq-items:hover svg {
    fill: #c7b299;
}

.svq-items:active h5 {
    color: grey;
}

.svq-items:active svg {
    fill: grey;
}

.svq-items:active:after {
    background-color: grey;
}

.section-2 {
    width: 100%;
    padding: 80px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fbfaf8;
}

.section-2 h3 {
    color: #555555;
    font-size: 30px;
    font-weight: 400;
    margin: 0 0 24px 0;
}

.realization-txt {
    width: 770px;
    color: #8c8c8c;
    font-family: Montserrat, arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    margin: 0 0 40px 0;
}

.browser-img {
    width: 1230px;
    height: 482px;
    background-image: url('../img/browser-center.jpg'),
        url('../img/browser-left.jpg'),
        url('../img/browser-right.jpg');
    background-size: 70%, 50%, 50%;
    background-repeat: no-repeat;
    background-position: center, bottom left, bottom right;
}

.aside-1 {
    width: 100%;
    height: 150px;
    padding: 48px 0;
    background-color: #f4f5f8;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aside-txt {
    display: block;
    color: #ffffff;
    font-family: Raleway;
    font-size: 28px;
    font-weight: 300;
    margin-left: 100px;
}

.waxom {
    color: #c7b299;
}

.aside-txt p {
    color: #615855;
    font-family: Montserrat, arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.aside-button {
    text-decoration: none;
    display: block;
    width: 170px;
    height: 50px;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    border: none;
    box-sizing: border-box;
    color: #ffffff;
    font-family: Raleway;
    line-height: 50px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    outline: none;
    margin-right: 100px;
}

.aside-button:hover {
    background-color: #b0a194;
    color: #26211d;
    cursor: pointer;
}

.aside-button:active {
    background-color: #998675;
    border: none;
}

.section-3 {
    width: 100%;
    background-color: white;
    padding: 80px 0;
}

.section-3 h2 {
    margin: 0 0 24px 0;
    color: #555555;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.section-3 p {
    display: block;
    margin: 0 auto 40px auto;
    width: 757px;
    color: #8c8c8c;
    font-family: Montserrat, arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}

.navigation {
    margin: 0 0 40px 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navigation-list {
    list-style: none;
    margin-right: 10px;
}

.nav-all {
    padding: 7px 25px;
}

.nav-items {
    padding: 7px 16px;
}

.nav-all:hover,
.nav-items:hover {
    background-color: #998675;
    color: #ffffff;
    cursor: pointer;
}

.nav-all:active,
.nav-items:active {
    background-color: grey;
}

.navigation-list button {
    border-radius: 3px;
    border: 1px solid #ebebeb;
    color: #8c8c8c;
    font-family: Montserrat, arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    outline: none;
}

.wrap-projects {
    display: flex;
    justify-content: center;
}

.projects-items {
    margin: 0 30px 30px 0;
    position: relative;
}

.latest-projects-img {
    display: block;
    width: 370px;
    height: 237px;
    background-color: azure;
}

.projects-txt:before {
    content: '';
    position: absolute;
    /* Абсолютное позиционирование */
    left: 19px;
    bottom: 113px;
    /* Положение треугольника */
    border: 20px solid transparent;
    /* Прозрачные границы */
    border-bottom: 15px solid #fbfaf8;
    /* Добавляем треугольник */
}

.projects-txt {
    position: relative;
    padding: 28px;
    background-color: #fbfaf8;
}

.projects-txt h5 {
    color: #c7b299;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 14px 0;
}

.projects-txt span {
    color: #d1d1d1;
    font-family: Montserrat, arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.projects-items:hover h5 {
    color: #ffffff;
}

.projects-items:hover span {
    color: #c7b299;
}

.projects-items:hover .projects-txt {
    background-color: #362f2d;
}

.projects-items:hover .projects-txt:before {
    border-bottom: 15px solid #362f2d;
}

.projects-items:hover .latest-projects-img {
    filter: contrast(50%);
    filter: brightness(50%);
}

.projects-items:hover .btn-link,
.projects-items:hover .btn-search {
    display: block;
}

.projects-items:hover .btn-link:hover,
.projects-items:hover .btn-search:hover {
    fill: #c7b299;
    cursor: pointer;
}

.btn-link,
.btn-search {
    fill: white;
    width: 26px;
    height: 26px;
    display: none;
    border: none;
    outline: none;
    background-color: transparent;
    position: absolute;
    top: 30%
}

.btn-link {
    left: 38%;
}

.btn-search {
    right: 40%;
}

.button-load {
    margin: 10px auto 0 auto;
    text-decoration: none;
    display: block;
    width: 170px;
    height: 53px;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    border: none;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    outline: none;
}

.button-load:hover {
    background-color: #b0a194;
    color: #26211d;
    cursor: pointer;
}

.button-load:active {
    background-color: #998675;
    border: none;
}

.section-4 {
    width: 100%;
    position: relative;
}

video {
    outline: none;
    filter: contrast(50%);
    filter: brightness(50%);
    object-fit: cover;
    width: 100%;
}

.video-contain {
    position: absolute;
    top: 25%;
    left: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-play {
    width: 100px;
    height: 100px;
    background-color: #000000;
    opacity: 0.5;
    border-radius: 50%;
    border: none;
    outline: none;
    margin: 0;
}

.play-circle {
    display: block;
    fill: #ffffff;
    margin: 0 auto;
}

.button-play:hover {
    opacity: 0.7;
    cursor: pointer;
}

.video-txt {
    text-align: center;
}

.video-txt h2 {
    margin: 40px 0 24px 0;
    color: #ffffff;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 500;
}

.video-span {
    display: block;
    width: 570px;
    color: #ffffff;
    font-family: Montserrat, arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 40px
}

.video-time {
    display: block;
    color: #c7b299;
    font-family: Montserrat, arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.section-5 {
    padding: 80px 0 0 0;
    width: 100%;
    background-color: #fbfaf8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-img {
    margin-right: 30px;
}

.txt-5 {
    width: 670px;
    margin-bottom: 100px;
}

.txt-5 h2 {
    color: #555555;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 600;
}

.txt-5 p {
    color: #8c8c8c;
    font-family: Montserrat, arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}

.txt-5-list {
    list-style: none;
    list-style-image: url(../img/list.svg);
}

.txt-5-list {
    margin-left: 40px;
    color: #8c8c8c;
    font-family: Montserrat, arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
}

.statistics {
    width: 100%;
    padding: 70px 0 30px 0;
    background-color: #f4f5f8;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
    display: flex;
    justify-content: center;
}

.statistics-items {
    font-family: Montserrat, arial, sans-serif;
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons {
    fill: #c7b299;
    margin-bottom: 30px;
}

.number {
    color: #ffffff;
    font-size: 48px;
    font-weight: 200;
    line-height: 36px;
    margin-bottom: 20px;
}

.text-stat {
    color: #c7b299;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
}

.statistics-items:after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    margin: 30px auto;
}

.section-6 {
    width: 100%;
    background-color: white;
    padding: 80px 0;
    text-align: center;
}

.section-6 h2 {
    color: #555555;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 30px 0;
}

.section-6 p {
    display: block;
    width: 770px;
    color: #8c8c8c;
    font-family: Montserrat, arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin: 0 auto 40px auto;
}

.elements-6 {
    text-align: left;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.txt-6-items {
    margin: 0 30px 10px 0;
}

.data {
    position: absolute;
    margin: 20px 0 0 20px;
}

.date {
    display: block;
    text-align: center;
    width: 50px;
    height: 35px;
    background-color: #363636;
    border-radius: 3.0px 3.0px 0.0px 0.0px;
    font-family: Montserrat;
    font-size: 24px;
    line-height: 35px;
    font-weight: 300;
    color: #ffffff;
}

.month {
    display: block;
    text-align: center;
    width: 50px;
    height: 25px;
    background-color: #252525;
    border-radius: 0.0px 0.0px 3.0px 3.0px;
    font-family: Roboto;
    font-size: 12px;
    line-height: 25px;
    font-weight: 400;
    color: #ffffff;
}

.recent-img {
    background-color: bisque;
}

.txt-6-items figcaption {
    padding: 30px;
}

.caption-6 {
    color: #555555;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 19px 0;
}

.text-6 {
    display: block;
    width: 300px;
    color: #8c8c8c;
    font-family: Montserrat, arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin: 0 0 27px 0;
}

.read-more {
    display: block;
    text-decoration: none;
    color: #c7b299;
    font-family: Montserrat, arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    position: relative;
}

.read-more:after {
    content: '';
    position: absolute;
    /* Абсолютное позиционирование */
    left: 83px;
    bottom: 5px;
    /* Положение треугольника */
    border: 5px solid transparent;
    /* Прозрачные границы */
    border-left: 8px solid #c7b299;
    /* Добавляем треугольник */
}

.read-more:active:after {
    border-left: 8px solid grey;
}

.txt-6-items:hover .data {
    display: block;
    z-index: 5;
}

.txt-6-items:hover .date {
    background-color: #c7b299;
}

.txt-6-items:hover .month {
    background-color: #a48d72;
}

.txt-6-items:hover h5 {
    color: #c7b299;
}

.txt-6-items:hover span {
    color: white;
}

.txt-6-items:hover {
    background-color: #362f2d;
}

.read-more:active {
    color: grey;
}

.txt-6-items:hover .recent-img {
    filter: contrast(55%);
    filter: brightness(50%);
}

.pagination-button {
    fill: #d1d1d1;
    border: none;
    outline: none;
    padding: 0;
    margin: 0 4px 0 4px;
}

.pagination-button:hover {
    fill: #c7b299;
    cursor: pointer;
}

.pagination-button:active {
    fill: grey;
}

.aside-2 {
    width: 100%;
    background-image: url(../img/back-photo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.aside-2-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(17, 17, 17, 0.7);
    /* Цвет фона */
    background-size: cover;
    opacity: 0.9;
    /* Полупрозрачный фон */
    padding: 137px 0;
    /* min-height: 210px;*/
}

.aside-items {
    margin: 0 45px;
}

.aside-items:hover {
    box-shadow: -2px 5px 50px 10px rgba(250, 250, 250, 0.5);
}

.aside-items:active {
    box-shadow: -2px 5px 50px 10px rgba(0, 0, 0, 0.5);
}

footer {
    width: 100%;
}

.footer-1 {
    padding: 80px 0;
    background-color: #191919;
    display: flex;
    justify-content: center;
}

.article-footer {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.txt-article {
    display: block;
    width: 260px;
    font-family: Montserrat, arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #555555;
    margin: 25px 0;
}


.read-more-footer {
    display: block;
    text-decoration: none;
    font-family: Montserrat, arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #d1d1d1;
    position: relative;
}

.read-more-footer:after {
    content: '';
    position: absolute;
    /* Абсолютное позиционирование */
    left: 83px;
    bottom: 5px;
    /* Положение треугольника */
    border: 5px solid transparent;
    /* Прозрачные границы */
    border-left: 8px solid #d1d1d1;
    /* Добавляем треугольник */
}

.read-more-footer:hover {
    color: #c7b299;
}

.read-more-footer:active {
    color: grey;
}

.read-more-footer:hover:after {
    border-left: 8px solid #c7b299;
}

.read-more-footer:active:after {
    border-left: 8px solid grey;
}

.footer-items {
    display: flex;
    flex-direction: column;
    width: 270px;
    margin: 0 20px 0 20px;
}

.footer-txt:hover p {
    color: #c7b299;
}

.footer-txt:hover time {
    color: #ffffff;
}

.footer-txt:after {
    content: "";
    display: block;
    width: 270px;
    height: 2px;
    background-color: #252525;
    margin: 20px auto 15px auto;
}

.footer-items h4 {
    font-family: Raleway;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 600;
    color: #ffffff;
    margin-top: 20px;
}

.footer-items a {
    text-decoration: none;
}

.footer-items p {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
    margin: 0;
}

.time-footer {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    color: #363636;
}

.link-twitter {
    color: #00bff3;
}

.footer-img {
    width: 290px;
}

.footer-img-element {
    margin: 0 10px 10px 0;
}

.footer-img-element:hover {
    transform: scale(1.2);
}

.footer-2 {
    background-color: #111111;
    padding: 48px 0;
    font-family: Montserrat, arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
    display: flex;
    justify-content: space-around;
}

.footer-link {
    color: #959595;
    text-decoration: none;
}

.footer-link:hover {
    color: #c7b299;
    text-decoration: none;
}

.footer-link:after {
    content: "";
    border-right: 1px solid #555555;
    margin: 0 5px;
}

@media (max-width: 576px) {
    body {
        width: 100%;
    }

    header {
        height: auto;
    }

    .wrapper {
        height: auto;
        padding: 25px;
    }

    .slider,
    .pagination {
        display: none;
    }

    .header-wrap {
        width: 100%;
        align-items: flex-start;
        justify-content: space-between;
        min-height: 200px;
    }

    .menu {
        width: 100%;
        flex-direction: column;
        visibility: hidden;
        margin: 0 auto;
        height: auto;
        width: 100%;
        flex-direction: column;
    }

    .menu-list {
        margin-top: 2px;
    }

    #label {
        display: block;
        cursor: pointer;
        height: 50px;
        width: 50px;
        background-color: #333;
        padding: 20px;
        font-family: arial;
        color: #fff;
        position: relative;
    }

    #label div {
        background-color: #fff;
        height: 3px;
        width: 80%;
        margin: 10px auto;
        transform-origin: top right;
        transition: 0.3s ease-out;
    }

    label:hover .upper {
        transform: rotate(-45deg) translate(-3px, -6px);
        height: 5px;
    }

    label:hover .bottom {
        transform: rotate(45deg) translate(-3px, 1px);
        height: 5px;
    }

    label:hover .middle {
        opacity: 0;
    }

    .section-1 {
        padding: 25px 0;
        flex-wrap: wrap;
    }

    .sect-1 {
        width: 45%;
    }

    .section-2,
    .aside-1 {
        display: none;
    }

    .section-3 {
        padding: 25px 0;
        width: 100%;
    }

    .section-3 p {
        width: auto;
    }

    .navigation-list {
        margin-bottom: 10px;
    }

    .navigation,
    .wrap-projects {
        flex-wrap: wrap;
    }

    .video-contain {
        left: 1%;
    }

    .video-span {
        width: auto;
    }

    .section-5 {
        padding: 25px 0;
        flex-wrap: wrap;
    }

    .mobile-img {
        display: none;
    }

    .txt-5 {
        margin: 0 10px;
    }

    .statistics {
        padding: 25px 0 5px 0;
        width: 100%;
        justify-content: space-around;
    }

    .statistics-items {
        margin: 0;
    }

    .number {
        font-size: 30px;
    }

    .text-stat {
        font-size: 12px;
    }

    .section-6 {
        padding: 25px 0;
    }

    .section-6 p {
        width: auto;
    }

    .elements-6 {
        flex-wrap: wrap;
    }

    .aside-2-wrapper {
        padding: 20px 0 10px 0;
        justify-content: space-around;
    }

    .aside-items {
        margin: 5px;
        text-align: center;
    }

    .aside-items img {
        width: 70%;
    }

    .footer-1 {
        padding: 25px 0;
        flex-wrap: wrap;
    }

    .article-footer {
        margin: 0 0 20px 0;
        width: 60%;
    }

    .footer-items {
        width: 60%;
    }

    .footer-2 {
        padding: 25px 0;
        flex-wrap: wrap;
    }

    .footer-2 span {
        margin: 10px 0;
    }
}
